enum {{name}} {
{{#values}}
  {{name}}{{#hasConstructor}}('{{argument}}'){{/hasConstructor}}{{^last}},{{/last}}
{{/values}}{{#hasConstructor}};

  const {{enumName}}(this.value);

  final String value;
{{/hasConstructor}}
}